body {
    background-color: #f0f0f0;
}

.header, .header .tabs {
    background-color: #00bcd4;
}

.tabs {
    overflow-x: hidden;
}

.tabs .tab a {
    color: #333;
    text-transform: initial;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #fff;
}

.tabs .indicator {
    background-color: #fff;
}

.container p {
    margin-bottom: 0;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=number]:focus + label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #00bcd4;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=number]:focus, textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00bcd4;
}

.walshMeta, .walshMatrix {
    display: inline-block;
    vertical-align: middle;
}

.walshMatrix {
    text-align: center;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 0px 10px;
}

.walshMatrix p {
    font-size: 16px;
    margin: -5px 0;
}

.walsh-input {
    margin-bottom: 2px !important;
}

.rxw-state {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    transition: transform 0.5s;
    will-change: transform, display;
}

.rxw-state.exit {
    -webkit-transform: translate(-100vw);
    transform: translate(-100vw);
}

.rxw-state.entry {
    -webkit-transform: translate(100vw);
    transform: translate(100vw);
}

.rxw-state.inactive {
    display: none;
}

.rxw-state.fade-out {
    transition: opacity 0.5s;
    opacity: 0;
}

.rxw-encrypted {
    margin-top: 0;
    font-size: 13px;
}

.rxw-cdma, .rxw-alice-encrypted {
    font-size: 13px;
}